.curtain {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


.leftPanel,
.rightPanel {
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  background-color: #0C8654;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  z-index: 9999;
}

.leftPanel {
  left: 0;
  animation-name: slideLeft;
  transform-origin: left;
}

.rightPanel {
  right: 0;
  animation-name: slideRight;
  transform-origin: right;
}


@keyframes slideLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
