.container {
  position: relative;
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.domainCountTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: fit-content;
  gap: 8px;
}

.domainCountTitle {
  width: 329px;
  height: 90px;
  font-family: QuickZap;
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 100%;
  text-align: center;
  color: #0C8654;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.domainCountSubtitle {
  width: 286px;
  height: 32px;
  font-family: QuickZap;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #454545;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media (max-width: 768px) {
  .domainCountTitleContainer {
    gap: 0px;
  }

  .domainCountTitle {
    margin-top: -40px;
    font-size: 60px;
    line-height: 72px;
  }

  .domainCountSubtitle {
    font-size: 18px;
    height: 16px;
    line-height: 16px;
  }
}

@media (max-width: 480px) {
  .domainCountTitleContainer {
    gap: 0px;
  }

  .domainCountTitle {
    margin-top: -40px;
    font-size: 40px;
    line-height: 140px;
  }

  .domainCountSubtitle {
    font-size: 20px;
    height: 16px;
    line-height: 32px;
  }
}

.categoryTitle {
  color: var(--secondary);

  /* Title/H2 */
  font-family: QuickZap;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  margin-top: 8px;
  text-align: center;
}

.categorySubtitle {
  color: var(--secondary);
  /* Body/middle/regular */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.8;
  text-align: center;
}

@media (max-width: 768px) {
  .categoryTitle {
    font-size: 24px;
    line-height: 28px;
  }

  .categorySubtitle {
    font-size: 14px;
    line-height: 24px;
  }
}