.container {
  display: flex;
  margin: 3rem;
  gap: 70px;
  align-items: center;
}

.title {
  font-family: "QuickZap";
  font-size: 2rem;
  color: var(--secondary);
  text-shadow: 1px 1px var(--tertiary);
  text-transform: uppercase;
  margin-bottom: 1rem;
  /* line-height: 58px; */
  width: 200%;
}

.content {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* max-width: 561px; */
  margin-left: -90px;
  margin-top: 20px;
}

.secondSubtitle {
  color: var(--secondary);

  /* Body/Small/Medium */
  font-family: Poppins-Regular;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
  opacity: 0.8;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}

.floatingIcons {
  transform: translatey(20px);
  position: relative;
  animation: float 6s ease-in-out infinite;
}

.eth {
  top: -10rem;
  left: -23rem
}

.strk{
  bottom: -10rem;
  right: 27rem
}

.smallStrk{
  top: -9rem;
  left: -10rem;
  rotate: 45deg;
}

.smallEth {
  bottom: -9rem;
  right: 4rem;
  rotate:45deg;
}


.subtitle {
  font-family: "Poppins-Regular";
  text-shadow: none;
  margin-bottom: 2rem;
  color: var(--secondary);

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 20px; */
  width: 200%;
  margin-top: -20px;
}

.subtitle strong {
  color: var(--primary);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.highlights {
  display: flex;
  padding: 12px 1.5rem;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  background: var(--tertiary-400);

  /* Small Shadow */
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.06);
  margin-bottom: 3rem;
  width: fit-content;
}

.separator {
  background-color: var(--content-800);
  width: 1px;
  height: 20px;
  border-radius: 90px;
}

.button {
  margin-top: -6px;
  width: fit-content;
}

.thirdTitle {
  font-family: "Poppins-Bold";
  font-size: 1.5rem;
  color: var(--secondary);
  text-shadow: none;
  text-align: center;
}

.paragraph {
  margin: 1rem auto 0 auto;
  text-align: center;
  max-width: 1000px;
  display: block;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.card1 {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.card2 {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  background-color: var(--background-light);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
}

.integratedBySubtile {
  margin-top: 0.75rem;
  text-align: center;
}

.affiliateCard {
  margin: 1rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px solid var(--background);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 350px;
  background-color: var(--background);
}

.cardTitle {
  font-family: "QuickZap";
  font-size: 2.4rem;
  color: var(--secondary);
  text-transform: uppercase;
  white-space: nowrap;
}

.affiliateCard h2 .affiliateCard h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.affiliateCard p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.section3 {
  padding: 4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bannerContainer{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  width: 100%;
  max-width: 65%;
  height: fit-content;
}

.earningsCard {
  display: flex;
  padding: 40px 64px;
  gap: 128px;
  border-radius: 30px;
  background: var(--background-light);

  /* Small Shadow */
  box-shadow: var(--shadow);
  margin-top: 6rem;
  z-index: 1;
}

.earningsCard .sliders {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.sliderName {
  color: var(--secondary);

  /* Body/normal/bold */
  font-family: Poppins-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.2px;
}

.earningsCard .resultContainer {
  display: flex;
  flex-direction: column;
}

.earningsCard .resultTitle {
  color: var(--content-800);

  /* Body/normal/bold */
  font-family: Poppins-Bold;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 120% */
  letter-spacing: 0.2px;
  text-align: center;
}

.earningsCard .result {
  color: var(--secondary);

  /* Title/H3 */
  font-family: QuickZap;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  /* 106.667% */
  text-align: center;
  margin-bottom: auto;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    margin: 0.5rem;
  }

  .bannerContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    transform: translateX(4rem);
  }

  .eth {
    top: -10rem;
    left: -20rem
  }
  
  .strk{
    bottom: -10rem;
    right: 24rem
  }

  .smallStrk{
    top: -9rem;
    left: -11rem
  }
  
  .smallEth {
    bottom: -9rem;
    right: 5rem
  }

  .banner {
    margin: auto;
    max-width: 100%;
  }

  .title {
    text-align: center;
  }

  .subtitle {
    text-align: center;
  }

  .secondSubtitle {
    text-align: center;
  }

  .highlights {
    margin: 0 auto 2rem auto;
  }

  .button {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .leaf1,
  .leaf2 {
    display: none;
  }

  .title {
    font-size: 1.5rem;
    margin-left: -125px;
    /* text-align: center; */
    width: none;
  }


  .subtitle {
    font-size: 12px;
    margin-bottom: 0;
    margin-left: -125px;
  }

  .secondSubtitle{
    margin-left: 60px;
  }

  .highlights{
    margin-left: 50px;
  }

  .paragraph {
    color: var(--content-600);
    font-size: 14px;
    line-height: 20px;
    /* 142.857% */
    margin-top: 2rem;
  }

  .button {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 30px;
  }

  .earningsCard {
    flex-direction: column;
    gap: 1rem;
  }

  .earningsCard .result {
    margin-bottom: 2rem;
  }

  .card1 {
    width: 100%;
    padding: 1rem;
  }

  .card2 {
    margin: 0;
    flex-direction: column;
  }

  .cardTitle {
    font-size: 24px;
  }

  .integratedBySubtile {
    font-size: 18px;
  }

  .graph {
    max-width: calc(100% - 1rem);
  }

  .section2 {
    padding: 1rem 1rem;
  }

  .subsection {
    flex-direction: column;
  }

  .firstLeavesGroup,
  .secondLeavesGroup {
    visibility: hidden;
  }

  .banner {
    width: 100%;
  }

  .graph {
    margin: 3rem 1.5rem;
    max-width: calc(100% - 3rem);
  }

  .earningsCard {
    margin-top: 2rem;
    width: calc(100% - 3rem);
    padding: 40px 24px;
  }
}