.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifthLeavesGroup {
  position: absolute;
  bottom: -160px;
  left: -10%;
  width: 300px;
  z-index: -1000;
  transform: rotate(15deg);
  overflow: hidden;
}

.sixthLeavesGroup {
  position: absolute;
  right: -3%;
  bottom: -160px;
  width: 180px;
  z-index: -1000;
  overflow: hidden;
}

@media (max-width: 768px) {
  .fifthLeavesGroup,
  .sixthLeavesGroup {
    visibility: hidden;
  }
}
