@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "QuickZap";
    src: url(../public/fonts/quickzap.ttf);
  }

  @font-face {
    font-family: "Poppins-Regular";
    src: url(../public/fonts/poppins/Poppins-Regular.ttf);
  }

  @font-face {
    font-family: "Poppins-Bold";
    src: url(../public/fonts/poppins/Poppins-Bold.ttf);
  }
}

:root {
  --primary: #19aa6e;
  --secondary: #402d28;
  --tertiary: #bf9e7b;
  --tertiary600: #ccb297;
  --background: #fff9f0;
  --nimiq-ease: cubic-bezier(0.25, 0, 0, 1);
  --gray: rgba(0, 0, 0, 0.11);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins-Regular";
}

h1 {
  font-family: "QuickZap";
  font-size: 8em;
  color: var(--primary);
  text-shadow: 4px 4px var(--tertiary);
}

a {
  color: inherit;
  text-decoration: none;
}

.custom-btn {
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: var(--primary);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: 7px 7px 20px 0px black;
  outline: none;
}

* {
  box-sizing: border-box;
}

strong {
  font-family: "Poppins-Bold";
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--secondary);
    background: var(--background);
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: var(--secondary);
    background: var(--background);
  }
}
