.section1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  position: relative;
}

.section2 {
  min-height: 80vh;
  flex-direction: column;
  padding: 4rem 4rem;
  background-color: var(--tertiary600);
}

.section3 {
  min-height: 120vh;
  padding: 4rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.subsection {
  display: flex;
  flex: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  font-family: "QuickZap";
  font-size: 8rem;
  color: var(--primary);
  text-shadow: 4px 4px var(--tertiary);
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--tertiary);
}

.secondTitle {
  font-family: "QuickZap";
  font-size: 2rem;
  margin-top: 0.5rem;
  color: var(--secondary);
  text-transform: uppercase;
}

.mintsquareTitle {
  font-family: "QuickZap";
  font-size: 1.5rem;
  margin-left: 0.5rem;
  color: black;
}

.title,
.secondTitle,
.description {
  text-align: center;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px solid var(--background);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 33%;
  background-color: var(--background);
}

.card h2 .card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.5;
}

.card2 {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 4px solid var(--background);
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  justify-content: center;
}

.firstLeavesGroup {
  position: absolute;
  bottom: -20%;
  left: -8%;
  width: 270px;
  z-index: -1000;
  transform: rotate(15deg);
  overflow: hidden;
}

.secondLeavesGroup {
  position: absolute;
  right: -3%;
  bottom: -20%;
  width: 170px;
  z-index: -1000;
  overflow: hidden;
}

.thirdLeavesGroup {
  position: absolute;
  right: -12%;
  top: -20%;
  transform: rotate(180deg);
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.fourthLeavesGroup {
  position: absolute;
  transform: rotate(180deg);
  left: -5%;
  top: -20%;
  width: 190px;
  z-index: -1000;
  overflow: hidden;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }

  .subsection {
    padding: 2rem 2rem;
  }

  .section2 {
    padding: 2rem 2rem;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
    text-shadow: 2px 2px var(--tertiary);
  }
  .card {
    width: 90%;
  }
  .card2 {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section2 {
    padding: 1rem 1rem;
  }
  .subsection {
    flex-direction: column;
  }

  .partners {
    flex-direction: column;
  }
  .firstLeavesGroup,
  .secondLeavesGroup {
    visibility: hidden;
  }
  .thirdLeavesGroup,
  .fourthLeavesGroup {
    visibility: hidden;
  }
}
