.page {
  overflow: hidden;
  background: white;
}

.section1 {
  padding: 2rem 5rem 1rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 4rem);
}

.headerContent {
  margin: 0 auto;
  padding: 22px 39px;
  position: relative;
  width: 100%;
  display: block;
}

.headerBanner {
  width: 700px;
  height: 700px;
  max-width: 100%;
  object-fit: contain;
  min-width: 358px;
}

.buttonContainer {
  width: fit-content;
  margin-top: 2rem;
}

.mainTitle {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  text-align: left;
  /* Title/H1 */
  font-family: QuickZap;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  width: 487px;
}

.mainTitle strong {
  font-family: QuickZap;
  color: var(--secondary);
}

.mainSubtitle,
.mainSubtitleMobile {
  display: flex;
  width: 487px;
  flex-direction: column;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 32px;
}

.mainSubtitleMobile {
  display: none;
}

.section2 {
  min-height: 80vh;
  flex-direction: column;
  padding: 0 4rem 4rem;
}

.section3Container {
  background-image: url("../public/visuals/home/jungle-vector-image.svg");
  background-repeat: no-repeat;
  background-size: 110%;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  aspect-ratio: 1040/604;
  isolation: isolate;
  width: 100%;
  flex: none;
  align-self: center;
  flex-grow: 0;
}

.section3ContainerButton {
  display: flex;
  padding: 10px 16px;
  width: 180px;
  height: 44px;
  margin-top: 24px;
  font-family: QuickZap;
  align-self: center;
  justify-self: center;
  font-size: 14px;
  color: white;
  background: #0c8654;
  border: 1px solid #19aa6e;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  transition: transform 0.4s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: transform 450ms var(--nimiq-ease),
    box-shadow 450ms var(--nimiq-ease);
}

.section3ContainerButton:hover,
.section3ContainerButton:focus {
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transform: translate3D(0, -2px, 0);
}

@media (max-width: 1024px) {
  .section3Container {
    background-size: 120%;
  }
  .section3ContainerButton {
    width: 160px;
    height: 40px;
    font-size: 12px;
    margin-top: 18px;
  }
}

@media (max-width: 768px) {
  .section3Container {
    background-size: 150%;
  }
  .section3ContainerButton {
    width: 160px;
    height: 40px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .section3ContainerButton {
    width: 150px;
    height: 36px;
    font-size: 11px;
  }
}

.section3 {
  min-height: 120vh;
  padding: 4rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.subsection {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  font-family: "QuickZap";
  font-size: 8rem;
  color: var(--primary);
  text-shadow: 4px 4px var(--tertiary);
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.5rem;
  text-align: center;
  color: var(--tertiary);
}

.secondTitle {
  font-family: "QuickZap";
  font-size: 2.4rem;
  color: var(--secondary);
  text-transform: uppercase;
}

.thirdTitle {
  font-family: "QuickZap";
  font-size: 1.5rem;
  margin-top: 0.5rem;
  color: var(--secondary);
  text-transform: uppercase;
}

.title,
.secondTitle,
.description {
  text-align: center;
}

.card {
  margin: 0 1rem 3rem 1rem;
  padding: 3rem 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  background-color: var(--background-light);
  box-shadow: var(--shadow);
  z-index: 10;
}

.card h2 .card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.cardDescription {
  font-size: 1.25rem /* 20px */;
  line-height: 1.75rem /* 28px */;
  margin: 0;
}

.card2 {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-light);
  box-shadow: var(--shadow);
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.partnersSubtitle {
  text-align: center;
}

div:has(> .lilLeaf04) {
  position: absolute;
  left: 16%;
  bottom: -12rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .title {
    font-size: 6rem;
  }

  .subsection {
    padding: 2rem 2rem;
  }

  .section2 {
    padding: 2rem 2rem;
  }

  .headerBanner {
    display: none;
  }
  .mainTitle {
    width: none;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 3rem;
    text-shadow: 2px 2px var(--tertiary);
  }

  .card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .card2 {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardDescription {
    color: var(--content-600);
    text-align: center;

    /* Body/small/regular */
    font-family: Poppins-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
  }
  .section2 {
    padding: 1rem 1.5rem;
  }

  .subsection {
    flex-direction: column;
  }

  .partners {
    flex-direction: column;
    gap: 3rem;
    padding-top: 1rem;
  }

  .partnersSubtitle {
    font-size: 14px;
  }

  .section3 {
    padding: 4.5rem 1.5rem 24px 1.5rem;
  }

  .section1 {
    padding: 4rem 1rem 0.5rem;
    min-height: fit-content;
    flex-direction: column;
  }

  .mainTitle {
    width: 100%;
    font-size: 36px;
    line-height: max(8vw, 48px);
    margin-top: 24px;
    text-align: center;
  }

  .mainSubtitle {
    display: none;
  }

  .mainSubtitleMobile {
    width: 100%;
    font-size: 15px;
    margin-top: 2rem;
    line-height: max(4vw, 24px);
    font-weight: 400;
    text-align: center;
    color: var(--content-600);
    display: block;
  }

  .headerContent {
    position: relative;
    padding: 0 !important;
    width: fit-content;
    display: block;
    margin: 0 auto;
  }

  .buttonContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .buttonContainer button {
    width: fit-content;
    box-shadow: none;
    font-size: 14px;
    font-family: QuickZap;
    font-weight: lighter;
    padding: 0 0.8rem;
  }

  .headerBanner {
    display: block;
    height: auto;
    max-height: 400px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: min(70%, 300px);
  }

  .thirdTitle {
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
  }

  .lilLeaf04 {
    display: none;
  }
}

