.container {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.profileCard {
  background-color: #fffcf8;
  border-radius: 20px;
  box-shadow: 0px 2px 30px 0px #0000000f;
  padding: 36px 48px;
  width: 650px;
  max-width: 650px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pfpImg {
  border-radius: 625px;
}

.domainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.domainName {
  font-family: "QuickZap";
  font-size: 33px;
  font-weight: 400;
  line-height: 38px;
  color: #454545;
}

.addr {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  color: #454545;
  margin-top: 6px;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 30px 0px #0000000f;
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 450ms var(--nimiq-ease),
    box-shadow 450ms var(--nimiq-ease);
  will-change: box-shadow;
}

.iconContainer:hover,
.iconContainer:focus {
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  transform: translate3D(0, -2px, 0);
}

.iconContainer:active {
  outline: none;
  box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);
  transform: translate3D(0, 1px, 0);
  transition: transform 200ms cubic-bezier(0.41, 0.34, 0.26, 1.55),
    box-shadow 200ms cubic-bezier(0.41, 0.34, 0.26, 1.55) !important;
}

.socialsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
  gap: 24px;
}

.socialName {
  font-family: "QuickZap";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #454545;
  text-transform: uppercase;
}

.coconutTreeLeft {
  position: absolute;
  left: -200px;
  bottom: -50px;
  width: 500px;
  z-index: -1000;
  overflow: hidden;
}

.coconutTreeRight {
  position: absolute;
  right: -200px;
  bottom: -50px;
  width: 500px;
  z-index: -1000;
  overflow: hidden;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    height: fit-content;
  }

  .profileCard {
    width: 100%;
  }

  .domainName {
    font-size: 20px;
    line-height: 23px;
  }

  .addr {
    font-size: 16px;
    line-height: 19px;
  }

  .socialsContainer {
    flex-direction: column;
    gap: 12px;
  }

  .coconutTreeRight,
  .coconutTreeLeft {
    display: none;
  }
}

.notFound {
  text-align: center;
  font-family: "QuickZap";
  font-size: 1.5rem;
  color: var(--secondary);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
