.container {
  text-align: center;
  position: relative;
  overflow: hidden;
}

.pfp {
  margin-bottom: 10px;
}
.title {
  font-family: "QuickZap";
  color: var(--brown);
}

.section1 {
  padding: 4rem 0 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

.elemContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 0;
}

.network {
  background-color: var(--gray);
  border-radius: 20px;
  padding: 10px;
  color: var(--brown);
  display: flex;
  justify-content: center;
  align-items: center;
}

.network p {
  margin: 0px 5px;
}
.icon {
  height: 28px;
  width: 28px;
}
.contentCopy {
  margin-left: 5px;
  cursor: pointer;
  font-size: 20px;
}

.social {
  border-radius: 20px;
  padding: 10px 15px;
  color: var(--soft-brown);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--soft-brown);
  margin: 0 5px;
  cursor: pointer;
}

.social p {
  margin: 0 15px 0 10px;
  font-weight: 700;
}

.walletAddress {
  font-size: 2rem;
  color: var(--brown);
}

.SbtContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.activityContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px 30px;
  width: 100%;
}

.activity {
  border: 2px solid var(--soft-brown);
  padding: 5px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 15px;
  margin: 10px 0;
  cursor: pointer;
  min-height: 5rem;
}

.activity p {
  flex: 3;
  justify-content: flex-start;
  text-align: left;
  color: var(--soft-brown);
  font-weight: 700;
  font-family: "QuickZap";
  font-size: 1.3rem;
  padding-left: 10px;
}

.activityBtn {
  background: rgba(191, 158, 122, 0.3);
  border-radius: 20px;
  font-family: "QuickZap";
  font-weight: 700;
  color: var(--brown);
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
}

.openInNew {
  margin-right: 10px;
}

.firstLeavesGroup {
  position: absolute;
  top: -7%;
  left: -120px;
  width: 300px;
  z-index: -1000;
  transform: rotate(130deg);
  overflow: hidden;
}

.secondLeavesGroup {
  position: absolute;
  top: -7%;
  right: -90px;
  width: 190px;
  transform: rotate(-130deg);
  z-index: -1000;
  overflow: hidden;
}

.thirdLeavesGroup {
  position: absolute;
  left: -120px;
  bottom: -7%;
  width: 300px;
  z-index: -1000;
  overflow: hidden;
}

.fourthLeavesGroup {
  position: absolute;
  right: -90px;
  bottom: -7%;
  width: 190px;
  z-index: -1000;
  overflow: hidden;
}

/* ----- Other leaves  ------  */

/* .leaf1 {
  position: absolute;
  right: -160px;
  bottom: 45%;
  width: 340px;
  z-index: -1000;
  overflow: hidden;
}

.leaf2 {
  position: absolute;
  left: -110px;
  bottom: 25%;
  width: 240px;
  transform: rotate(10deg);
  z-index: -1000;
  overflow: hidden;
} */

.notFound {
  text-align: center;
  font-family: "QuickZap";
  font-size: 1.5rem;
  color: var(--brown);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

@media (max-width: 500px) {
  .elemContainer {
    flex-direction: column;
  }
  .social {
    margin: 5px 0;
  }
  .SbtContainer {
    flex-direction: column;
  }

  .firstLeavesGroup {
    width: 200px;
  }

  .secondLeavesGroup {
    width: 120px;
  }

  .thirdLeavesGroup,
  .fourthLeavesGroup {
    visibility: hidden;
  }
}
